<h1>Welcome to Dashboard</h1>
<!-- <p id="notice"><%= notice %></p> -->

<!-- <h4>Your shared links</h4> -->
<%= form_for(@link, remote: true) do |f| %>
  <div class="link_share">
    <div class="field" style="display: inline">
      <%= f.label :link %>
      <%= f.text_field :link %>
      <%= f.label :link_type %>
      <%= f.text_field :link_type %>
    </div>
    <div class="actions" style="display: inline">
      <%= f.submit 'Share'%>
    </div>
  </div>
  <% end %>

<% if @links.empty? %>
  <p>No Links</p>
<% else %>
  <table>
    <thead>
      <tr>
        <!-- <th>User</th> -->
        <th>Link</th>
        <th>Link type</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @links.each do |link| %>
      <tr>
        <!-- <td><%= link.user_id %></td> -->
        <td><%= link.link %></td>
        <td><%= link.link_type %></td>
        <!-- <td><%#= link_to 'Show', link %></td>
        <td><%#= link_to 'Edit', edit_link_path(link) %></td>
        <td><%#= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>

<br>

<%= link_to 'New Link', new_link_path %>
