<%= form_for(@link, remote: true) do |f| %>
  <div class="link_share">
    <div class="field" style="display: inline">
      <%= f.label :link %>
      <%= f.text_field :link, :id => "link_box" %>
      <%= f.label :link_type %>
      <%= f.text_field :link_type %>
    </div>
    <div class="actions" style="display: inline">
      <%= f.submit 'Share'%>
    </div>
  </div>
  <% end %>
