<header class="navbar navbar-fixed-top navbar-inverse">
<%= link_to image_tag("logo.png"), '/', id: "logo_img" %>
  <%= link_to "ShareIt", '#', id: "logo" %>
  <div class="container">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Home",   '#' %></li>
      <li><%= link_to "Help",   '#' %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
    </ul>
    </div>
</header>
